h3 {
	text-align: center;
}

.converter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	vertical-align: top;
}

.panel-body {
	
}

.panel-default {
	min-height: 390px;
	top: 0px;
	max-width: 300px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
}

.my-drop-zone {
	border: dotted 3px lightgray;
	margin-top: 10px;
	height: 220px;
}

.nv-file-over {
	border: dotted 3px red;
}

.control-panel {
	padding-left: 15px;
	padding-right: 15px;
}

input {
	padding-left: 15px;
}

button {
	display: block;
	width: 100%;
	margin-top: 10px;
}

.panel-text {
	min-height: 150px;
}

.word-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#docxFile {
	padding-left: 0px;
}

.alert {
	margin-top: 15px;
}

.converter-alert {
	max-width: 925px;
	text-align: center;
	margin: 0 auto;
	padding-right: 5px;
}

.guest-msg {
	text-align: center;
	max-width: 925px;
	margin: 0 auto;
}