/.settings/
/bin/
/logs/
*.log
/target/
/project/project/
/project/target/
/.cache-main
/.cache-tests
/.classpath
/.project
/conf/local.conf
/.idea

target/
*.log
ilogos-course-generator-core.iml
.settings/
