p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin-left: 115px;
}
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin-left: 135px;
}
li p {
    font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin-left: 0px;
}
td p {
    font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin-left: 0px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #666699;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #666699;
}
a {
	color: #0000FF;
}
.left-img {
	float:left;
	margin: 0px;
	position:relative;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	text-transform: uppercase;
	margin-left: 115px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.desc {
	margin-top: 0px;
	margin-left: 150px;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-large;
	text-transform: uppercase;
	color: #660000;
}
table {
	margin-left: 115px;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-width: thin;
	border-bottom-width: thin;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	margin-left: 115px;
}
p1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	margin-left: 115px;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	margin-left: 115px;
}
.attention_p {
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #660000;
	border-right-color: #660000;
	border-bottom-color: #660000;
	border-left-color: #660000;
	padding-top: 5px;
	padding-bottom: 5px;
}
a:visited {
	color: #330066;
}
a:hover {
	color: #660000;
}
.niz {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	vertical-align: sub;
}
h4 {
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-transform: lowercase;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: #333399;
}
.medium {
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	font-style: normal;
}
.verh {
	vertical-align: super;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
}.razr {
	margin-left: 160px;
}
.fotto {
    min-height:200px;
	background-color: #C8DBF5;
	margin-top:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	position: relative;
	left: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	width: 80%;
}
