p {
	text-align: justify;
	width: 70%;
	margin-left: 115px;
	line-height: 30px;
}
table {
	margin-left: 115px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
}
td {
	border-bottom-width: 1px;
	border-bottom-color: #660000;
	border-bottom-style: solid;
	padding: 10px;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
}
.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	background-color: #600;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #660000;
}
select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #660000;	
}.seltext {
	color: #FF0000;
	font-weight: bold;
}
.task {
	font-weight: bold;
}
.question {
	font-style: italic;
}
