@CHARSET "UTF-8";

.header {
	border-style: solid;
	border-width: 1px;
	height: 8ex;
	margin-bottom: 1ex;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 5px 5px 5px 5px;
	border-color: #777;
	font-size: 18pt;
}

.starter-template {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.description {
	max-width: 60ex;
	text-align: justify;
}

.sign-in-text {
	margin-top: 2ex;
	margin-bottom: 2ex;
	color: #777; /* Цвет текста */
}

footer {
	position: fixed; /* Фиксированное положение */
	left: 0;
	bottom: 0; /* Левый нижний угол */
	padding: 10px; /* Поля вокруг текста */
	color: #777; /* Цвет текста */
	width: 100%; /* Ширина слоя */
	text-align: center;
	background-color: white;
}

.google:hover {
	background: #D14836;
	transition: background 0.5s linear;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #00006f; /* Цвет ссылок */
}

a:hover {
	color: #0000c4; 
}