/.settings/
/bin/
/lib/*
!/lib/fmath-2.0.jar
!/lib/imsglobal-1.0.jar
/logs/
/target/
/project/project/
/project/target/
/.cache-main
/.cache-tests
/.classpath
/.project
/conf/local.conf
