<h3>Мой профиль</h3>
<div *ngIf="user" class="profile">
  <div class="info">
  	<ul class="list-group">
		<li class="list-group-item"><span class="user-property">Имя:</span><b id="user-name">{{user.name}}</b></li>
		<li class="list-group-item"><span class="user-property">Email:</span><b id="user-email">{{user.email}}</b></li>
		<li class="list-group-item"><span class="user-property">Дата регистрации:</span><b id="user-reg-time">{{formatDate(user.registrationTime)}}</b></li>
		<li class="list-group-item"><span class="user-property">Количество документов:</span><b id="user-success-docs">{{user.successDocs}}</b></li>
	</ul>
  </div>
</div>


