<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app>

<web-app
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>META-INF/spring/applicationContext.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet
		</servlet-class>
	</servlet>

	<servlet>
		       
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		       
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		       
		<init-param>
			           
			<param-name>contextConfigLocation</param-name>
			           
			<param-value>META-INF/spring/spring-mvc.xml</param-value>
			       
		</init-param>
		       
		<load-on-startup>1</load-on-startup>
		   
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/dispatch/*</url-pattern>
	</servlet-mapping>
	 
	<servlet-mapping>
		       
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		       
		<url-pattern>/rest/*</url-pattern>
		   
	</servlet-mapping>

	<servlet>
		<servlet-name>PaypalResponseHandler</servlet-name>
		<servlet-class>com.ipoint.coursegenerator.server.paypal.PaypalResponseHandler
		</servlet-class>
	</servlet>

	<servlet-mapping>		       
		<servlet-name>PaypalResponseHandler</servlet-name>		       
		<url-pattern>/success.html</url-pattern>		   
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MarketplaceOrderHandler</servlet-name>
		<servlet-class>com.ipoint.coursegenerator.server.marketplace.MarketplaceOrderHandler
		</servlet-class>
	</servlet>

	<servlet-mapping>
		       
		<servlet-name>MarketplaceOrderHandler</servlet-name>
		       
		<url-pattern>/order*</url-pattern>
		   
	</servlet-mapping>

	<servlet>
		<servlet-name>CourseGeneratorAuthorization</servlet-name>
		<servlet-class>com.ipoint.coursegenerator.server.authorization.CourseGeneratorServletAuth
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseGeneratorAuthorization</servlet-name>
		<url-pattern>/Coursegenerator.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CourseGeneratorAuthorizationCallback</servlet-name>
		<servlet-class>com.ipoint.coursegenerator.server.authorization.CourseGeneratorServletCallBack
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseGeneratorAuthorizationCallback</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
	 
</web-app>
