<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>META-INF/spring/applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>appsmarketplace_consumer_key</param-name>
		<param-value>274434146714.apps.googleusercontent.com</param-value>
	</context-param>
	<context-param>
		<param-name>appsmarketplace_consumer_secret</param-name>
		<param-value>H0xga5JLxQuLfvUohwtu7nYl</param-value>
	</context-param>
	<context-param>
		<param-name>PAYPAL_API_USERNAME</param-name>
		<param-value>shamak_1360056582_biz_api1.ipoint.ru</param-value>
	</context-param>
	<context-param>
		<param-name>PAYPAL_API_PASSWORD</param-name>
		<param-value>1360056603</param-value>
	</context-param>
	<context-param>
		<param-name>PAYPAL_API_SIGNATURE</param-name>
		<param-value>A8OsBMjuCbaWBQGxI7oVQz7fgFYNApx73g9a9rGc8AyhZ.OIsM2jMor5</param-value>
	</context-param>
	<context-param>
		<param-name>receiver_email</param-name>
		<param-value>shamak_1360056582_biz@ipoint.ru</param-value>
	</context-param>
	<filter>
		<filter-name>LanguageSetFilter</filter-name>
		<filter-class>com.ipoint.coursegenerator.server.LanguageSetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LanguageSetFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>com.ipoint.coursegenerator.server.handlers.CourseGeneratorServletContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>META-INF/spring/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MarketplaceOrderHandler</servlet-name>
		<servlet-class>com.ipoint.coursegenerator.server.marketplace.MarketplaceOrderHandler
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseGeneratorAuthorization</servlet-name>
		<servlet-class>com.ipoint.coursegenerator.server.authorization.CourseGeneratorServletAuth
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseGeneratorAuthorizationCallback</servlet-name>
		<servlet-class>com.ipoint.coursegenerator.server.authorization.CourseGeneratorServletCallBack
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PayPalIPNHandler</servlet-name>
		<servlet-class>com.ipoint.coursegenerator.server.paypal.PayPalIPNHandler
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/dispatch/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarketplaceOrderHandler</servlet-name>
		<url-pattern>/purchase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseGeneratorAuthorization</servlet-name>
		<url-pattern>/orderchoice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseGeneratorAuthorization</servlet-name>
		<url-pattern>/Coursegenerator.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseGeneratorAuthorizationCallback</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayPalIPNHandler</servlet-name>
		<url-pattern>/PayPal_IPN</url-pattern>
	</servlet-mapping>
</web-app>
