@(title: String, user: Option[models.User] = None)(content: Html)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="@routes.Assets.at("styles/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("styles/sign-in.css")">
		<link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src='@routes.Assets.at("lib/es6-shim/es6-shim.min.js")'></script>
		<script src='@routes.Assets.at("lib/angular2/bundles/angular2-polyfills.js")'></script>
		<script src='@routes.Assets.at("lib/systemjs/dist/system.js")'></script>
		<script src='@routes.Assets.at("lib/rxjs/bundles/Rx.js")'></script>
		<script src='@routes.Assets.at("lib/angular2/bundles/angular2.dev.js")'></script>
		<script src='@routes.Assets.at("lib/angular2/bundles/router.dev.js")'></script>
		<script src='@routes.Assets.at("lib/angular2/bundles/http.dev.js")'></script>
		<script src='@routes.Assets.at("scripts/FileSaver.js")'></script>
		<script src='assets/scripts/bootstrap.js'></script>
		
    </head>
    <body>
      @content
    </body>
</html>
